body{
	margin:0;
	padding:0;
	background-color: black;
}
nav-bar-directive{	
	z-index: 99;
	position:fixed;
	width:100%;
	height:80px;
	margin-top:0px;
	/*background-color:#b94646;*/
	/*background-color: rbga(0,0,0,0.5);*/
}
.navbarFontStyle{
	font-size:20px;
	font-family: 'Courgette', cursive;
}
div.navbarHeaderStyle{
	margin-left:20%;
}
#navbar-custom-position{
	/*margin-left: 50%;*/
    width: 46%;    
}
#navbar-custom-position  li{
	margin-left: 2%;
    /*margin-right: 2%;*/
}
.navbar-right{
	margin-right:145px;
}
.navbar-right li {
	margin-top:7px;
	margin-left:10px;
}
.navbar-right li a{
	padding:3px 9px;
}
div.sect{
	height:800px;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
div.sectOne{
	background-image: url('../images/bg-5.jpg');
}
div.subSection{
	height:570px;
	background-color:#5F0038;
}
div.sect2{
	height:300px;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
div.sectTwo{
	background-image: url('../images/bg-1.jpg');
}
div.sectThree{
	background-image: url('../images/bg-3.jpg');
}
div.sectFour{
	background-image: url('../images/reservasion.jpg');
}
img.backgrund-image{
	width:100%;
	height: auto;
}

div.image-heading {
	position:absolute;
	margin-top: 20%;
	margin-left:28%;
	width: 39%;
	height: 80px;
	color: #DC143C;
	text-align:center;
	/*background-color: black;*/
	/*background: transparent;	*/
	border-radius: 6px;
}
div.image-heading h1{
	margin-top: -59px;
	font-size: 89px;
	/*box-shadow: -1px -1px 7px red;*/
	text-shadow: 2px 2px white;
	/*box-shadow: 0px 5px white;	*/
	font-family: 'Satisfy', cursive;
	font-family: 'Courgette', cursive;
	font-family: 'Great Vibes', cursive;
	font-family: 'Sacramento', cursive;
	font-family: 'Damion', cursive;
}
div.food{
	display:inline-block;
	/*border:1px solid green;*/
	margin-left:auto;
	margin-right:auto;
}
div.food-items{
	width:300px;
	height:50px;
	color: white;
	margin-left:70px;
	margin-right:40px;
	margin-top:20px;
	margin-bottom:40px;
	display: block;
	position: relative;
	border: 1px solid white;
}
div.food-item-details{
	visibility: visible;
	width:24%;
	height:99.8%;
	border-right:2px;
	border-color: red;
}
div.food-items:hover .food-item-details{
	visibility: visible;
}
div.veg-nonveg{	
	top:0;
	right:0;
	width:30px;
	height:30px;
	border-radius:2px;
	position: absolute;
	border:1px solid green;
}
div.category{
	border-radius: 50%;
	background-color: green;
	width:14px;
	height:14px;
	margin:8px;
}
#contact .reservation > div {
  
  vertical-align: top;
}
.reserve-form-data{
	width:100%;
	margin:0 0 5px;
	font-size: 16px;
	line-height: 1.2em;
	background-color: rgba(101, 101, 101, 0.68);
	font-family: 'Open Sans',sans-serif;
}

/* footer style */

/*footer{
	position: relative;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	color: #6a737c;
  	background-color: #242729;
  	text-align: center;
}*/
/*footer-directive{
	width:85%;
	height:300px;
}						
*/
/*
.date-dropdown-btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.reserve-date-div {
    position: relative;
    display: inline-block;
}

.date-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.date-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.date-dropdown-content a:hover {background-color: #f1f1f1}

.reserve-date-div:hover .date-dropdown-content {
    display: block;
}

.reserve-date-div:hover .date-dropdown-btn {
    background-color: #3e8e41;
} */