<div class="reservation" style="display: block;border:1px solid red; ">	
	<div class="reserve-address-div" style="display: inline-block;width:45%;border:1px solid red;margin-top:-30px;">		
		<div>
			<h4>51 Area, Barmuda Triangle, Mars</h4>
			<h4>0165466546</h4>
			<h4>vivek.tarun17@gmail.com</h4>		
		</div>
	</div>
	<div class="reserve-booking-div" style="display: inline-block; width:45%;border:1px solid red; ">			      		
  		<form>
		  	<input type="text"  name="name" placeholder="Name" /><br>		  	
		  	<input type="email" name="email" placeholder="Email"/><br>
		  	<input type="text"  name="subject" placeholder="Subject"/><br>
		  	<textarea placeholder="message" rows="5"></textarea><br>
		  	<input type="button" value="Submit">
		</form>	    
    </div>	
</div>
