<script type="text/javascript">
	$(document).ready(function () {

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

});

</script>
<div class="container-fluid" style="background-color: #5F0038;">
	<nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Home 1</a></li>
                    <li><a href="#">Home 2</a></li>
                    <li><a href="#">Home 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        
    </nav>
    <div id="content">
        <!-- We'll fill this with dummy content -->
        <div class="" style="margin-top:30px;">
		<a href="#meals">Meals</a>

	</div>	
	<div class="sect2 sectTwo">
		<h2>Breakfast</h2>
	</div>
	<div class="subSection" style="border: 1px solid red;">
		<div id="breakfast" style="border: 1px solid green;overflow: hidden;margin-left: auto; margin-right: auto;">			
			<!-- <div ng-repeat="item in breakfast track by $index" class="food"> -->
			<div class="food">
				<div class="col-md-3 col-sm-12  row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Idli (2 Nos)</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>25</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Sambar Idli (2 Nos)</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>30</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Vada</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>40</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Sambar Vada</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>45</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Plain Dosa</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>40</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Onion Dosa</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>45</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Rava Dosa</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>45</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Onion Rava Dosa</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>50</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Masala Rava Dosa</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>55</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Karan Dosa</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>45</code>
					</div>
				</div>
				<div class="col-md-3" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div>
						<code>Pesara Dosa</code>
						<span style="color:white;font-weight: bold;"> ......................... </span>
						<div class="pull-right">
							<code>45</code>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Ghee Dosa</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>45</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Homely Dosa</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>40</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Egg Dosa</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>50</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Uttapam</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>50</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Onion Uttapam</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>45</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Mysore Bajji (4 Nos)</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>40</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Upma</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>40</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Puri</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>50</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Kaju Upma</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>50</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Punugu (4 Nos)</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>40</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Set Dosa (3 Nos)</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>40</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Butter Idli</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>50</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Ghee Idli</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>50</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Mini Idli Sambar</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>40</code>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 row" style="display:inline-block;margin:10px;border: 1px solid red;">
					<div class="pull-left">
						<code>Cheese Dosa</code>
						<span style="color:white;font-weight: bold;"> ....................... </span>
					</div>
					<div class="pull-right">
						<code>50</code>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="sect2 sectTwo"></div>
	<div class="subSection"> <!-- sect sectTwo"> -->
		<div id="meals">
			<h2>Meals</h2> 
			<div ng-repeat="item in meals track by $index" class="food">
				<div class="food-items">
					<div class="veg-nonveg">
						<div class="category"></div>
					</div>
					<div class="food-item-details">
						<img src="item.image" style="width:100%;height:auto;" />
					</div>							
				</div>
			</div>
		</div>
	</div>
	<div class="sect2 sectThree"></div>
	<div class="subSection">
		<div id="beverage">
			<h2>Beverage</h2>
			<div ng-repeat="item in beverage track by $index" class="food">
				<div class="food-items">
					<div class="veg-nonveg">
						<div class="category"></div>
					</div>
					<div class="food-item-details">
						<img src="images/tea-1.jpg" style="width:100%;height:auto;" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="sect sectThree"></div> -->
	<!-- <div class="sect2 sectFour">
		<div class="address">
			<h4>51 Area, Hinjewadi, Pune</h4>
			<h4>0124568945</h4>
			<h4>vivek.tarun17@gmail.com</h4>
		</div>
		
		<div class="reservation" style="float:right">
			<label style="color:white">RESEVATION</label>
			<div class="reserve-date-div">			      		
	      		<button class="date-dropdown-btn">Date &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></button>
	      		<div class="date-dropdown-content">
	      			<a href="#">Link 1</a>
	    			<a href="#">Link 2</a>
	    			<a href="#">Link 3</a>
	      		</div>
	        </div>		
			<div class="reserve-time-div">
				
			</div>
		</div>
	</div>	 -->			
    </div>
	
</div>