<div class="sect sectOne">				
	<div class="image-heading">
		<h1>Burnwal's Taste</h1>						
	</div>	
	<div style="border: 1px solid red;position:absolute;width:100%;">
		<div style="position:absolute;width:20%;margin-top:100px;
					margin-left:70%;height:310px;border: 1px solid white;">
			<div style="text-align: center;color:white;">
				<h3>Today's Special</h3>
				<h4><code>Chicken Chettinad</code> &nbsp;&nbsp;&nbsp;&#x20B9;&nbsp;<code>530</code></h4>
				<p>A Kerala dish prepared in coconut oil ,bay leaf turmeric curd and many more herbal ingrediants.It's only tasty but also healthy and it is serve with Parotha, Paysom, Puttu etc.</p>
				<h4>Timings</h4>
				<h4>6:30 P.M. &mdash; 10:00 P.M.</h4>
				<h3 style="border: 1px solid white;width:50%;background-color: white;color:black;
						   margin-left:auto;margin-right:auto;">Book Table</h3>
			</div>
		</div>		
	</div>					
</div>