<nav class="navbar navbar-inverse" ng-controller="navBarController">
  <div class="container-fluid">
    <div class="navbar-header" style="margin-left:20%;">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_list" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbarFontStyle" href="/Burnwal/home">
        <img alt="Home" src="...">
      </a>
    </div>

    <div class="collapse navbar-collapse " id="menu_list">      
      <ul class="nav navbar-nav" id="navbar-custom-position">       
        <li class="navbarFontStyle"><a href="/Burnwal/menu">Menu</a></li>
        <li class="navbarFontStyle"><a href="/Burnwal/blog">Blog</a></li>
        <li class="navbarFontStyle"><a href="/Burnwal/contactus">Contact Us</a></li>
        <li class="navbarFontStyle"><a href="/Burnwal/poc/1">POC Details</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://www.facebook.com/vivektarun" target="_blank">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/TARUNVIVEK" target="_blank">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          </a>
        </li>        
        <li>
          <a href="https://codepen.io/vtarun/" target="_blank">
            <i class="fa fa-codepen fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/vtarun" target="_blank">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>