<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_list" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img alt="Home" src="...">
      </a>
    </div>

    <div class="collapse navbar-collapse " id="menu_list">      
      <ul class="nav navbar-nav" id="navbar-custom-position">       
        <li class="dropdown">
          <a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Food<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#breakfast">Breakfast</a></li>
            <li><a href="#meals">Meals</a></li>
            <li><a href="#beverage">Beverage</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Today's Special</a></li>
          </ul>
        </li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>